html { scroll-behavior: smooth; scroll-padding-top: 80px; }
.text-body { color: #3d4b5f; }
@media print { #sidebar, header, #btt, #overlay { display: none !important; } main { margin: 0 !important; } }
